@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-accent: #648de5;
  --color-accent-dark: #507fe2;
  --color-accent-light: #e9effb;

  --color-error: #e56464;
  --color-error-light: #fbe9e9;

  --color-success: #1daf79;
  --color-success-light: #e9fbf5;

  --color-grey: #666666;
  --color-grey-light: #f2f2f2;

  --color-black-light: rgba(0, 0, 0, 60%);
  --color-black-light2: rgba(0, 0, 0, 16%);
  --color-black-light3: rgba(0, 0, 0, 4%);
}

body {
  font-family: Roboto, sans-serif;
}

button,
input[type="submit"],
a.btn {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  height: auto;
  background-color: var(--color-accent);
  border: 0;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
a.btn:hover {
  background-color: var(--color-accent-dark);
}

.secondary,
a.btn.secondary {
  background: none;
  color: var(--color-black-light);
}

.secondary:hover,
a.btn.secondary:hover {
  background-color: var(--color-black-light3);
}

.secondary:active,
a.btn.secondary:active {
  background-color: var(--color-black-light2);
}

.small,
input[type="submit"].small,
a.btn.small {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1em;
}

.tiny,
input[type="submit"].tiny,
a.btn.tiny {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1em;
}

.upper,
input[type="submit"].upper,
a.btn.upper {
  text-transform: uppercase;
}

input[type="text"],
input[type="password"] {
  color: rgba(0, 0, 0, 70%);
  font-size: 24px;
  font-family: inherit;
  border: 0;
  padding-bottom: 0.25em;
  border-bottom: 2px solid rgba(0, 0, 0, 40%);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-weight: 300;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom-color: var(--color-accent-dark);
  outline: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.icon-logo {
  width: 50px;
  height: 50px;
  background-color: var(--color-accent);
  clip-path: url(assets/icons/logo.svg#clip);
}

.logo > p {
  font-size: 36px;
  color: inherit;
  font-weight: 300;
  margin: 0;
  margin-left: 0.2em;
}

.logo > p > b {
  font-weight: 700;
}
