@import url("./compartido.css");

.logo {
  color: var(--color-accent);
  margin-left: 25px;
  margin-top: 1.5em;
}

.logo path {
  fill: var(--color-accent);
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.main-content {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);

  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 32px;
}

.menu > p {
  color: rgba(0, 0, 0, 60%);
  font-size: 2em;
  font-weight: 300;
  margin-left: 25px;
}

.menu > a {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 90%;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 60%);
  padding: 8px 32px 8px 16px;
  text-decoration: none;
}

.menu > a > svg {
  margin-right: 16px;
  fill: rgba(0, 0, 0, 60%);
}

.menu > a.seleccionado {
  color: var(--color-accent);
  background-color: var(--color-accent-light);
  border-radius: 0px 50px 50px 0px;
}

.menu > a.seleccionado > svg {
  fill: var(--color-accent);
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 0.5em;
  margin-right: 25px;
}

.links > :only-child {
  margin-top: 1.5em;
}

.links > p.indicator {
  color: var(--color-indicator-base);
  background-color: var(--color-indicator-light);

  font-size: 20px;
  padding: 8px 12px;
  border-radius: 15px;

  margin-right: 1.5em;
}

.links > p.indicator.admin {
  --color-indicator-base: var(--color-accent);
  --color-indicator-light: var(--color-accent-light);
}

.links > p.indicator.user {
  --color-indicator-base: var(--color-grey);
  --color-indicator-light: var(--color-grey-light);
}

.links > a {
  font-size: 20px;
  color: rgba(0, 0, 0, 60%);
  text-decoration: none;
}
