.tabla-reactivos {
    border-collapse: collapse;
    width: 90%;
}

.tabla-reactivos th  {
    color: #494949;
    text-transform: uppercase;
    background-color: #EDEDED;
}

.tabla-reactivos td {
    font-size: 18px;
    border-bottom: 1px solid #d4d4d4;
    
}

.tabla-reactivos td.fecha, td.tema {
    color: #616161;

}

.tabla-reactivos td.tema {
    font-weight: bold;
}

.tabla-reactivos td.id {
    color: #000000;
}

