*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat/Montserrat-Regular.ttf");
}

:root {
  --color-grey: #efefef;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr;

  font-family: Montserrat, sans-serif;
}

header {
  height: 32px;
  border-bottom: 1px solid black;

  display: flex;
}

header > * {
  height: 100%;
}

header > a {
  display: flex;
  align-items: center;
  padding: 0px 1.5em;
  text-decoration: none;
  color: black;
}

header > a[data-active] {
  background-color: black;
  color: white;
}

header > a:not([data-active]):hover {
  background-color: var(--color-grey);
}

header > img {
  padding: 0.2em;
}
