table td img {
  height: 8vh;
  width: 16vh;
  object-fit: cover;
}

table td {
  padding: 2em 0.8em;
}

table {
  margin-top: 2em;
  border-collapse: collapse;
  font-size: 0.8em;
}

table tr {
  border-bottom: 1px solid black;
}

main {
  display: grid;
  align-items: flex-start;
  justify-items: center;
}

table a,
table a:visited {
  color: black;
}
