@import "./compartido.css";

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: 100vw;
  height: 100vh;
}

body > * {
  grid-column: 1;
  grid-row: 1;
}

h1 {
  margin: 48px 24px;
  color: var(--accent-color);
}

a {
  align-self: flex-start;
  justify-self: flex-end;
  margin: calc(48px + 0.5em) 24px;
  color: var(--accent-color);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: var(--accent-color-dark);
}

.grafica {
  align-self: flex-end;
  justify-self: center;
  width: min(400px, 80vw);
  margin-bottom: min(100px, 15vh);
  height: min(500px, 50vh);
}

body::before {
  content: " ";
  position: absolute;
  width: 100vw;
  height: 60px;
  background-color: var(--accent-color);

  align-self: flex-end;
}
